<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Option</title>
    <link rel="stylesheet" th:href="@{/css/main_style.css}"/>
</head>
<body>
<div class="center">
    <h1>Редактирование дополнительной опции: </h1>
    </br>
    <form th:action="@{/otherOption/update/{id}(id=${otherOption.getId()})}" th:method="POST"
          th:object="${otherOption}">
        <label for="name">Название опции: </label>
        <input id="name" th:field="*{name}" type="text">
        <br/>
        <label for="description">Описание: </label>
        <input id="description" th:field="*{description}" type="text">
        <br/>
        <label for="price">Цена:</label>
        <input id="price" th:field="*{price}" type="text">
        <br/>
        <input type="submit" value="Сохранить комплектацию!"/>
    </form>
</div>
</body>
</html>